<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="../style.css">
</head>
<body>
        <div class="container">
            <header>
                <nav class="menu">
                    <ul>
                        <li><a href="../index.html"> <img src="../imagenes/Inicio.png" alt=""> </a></li>
                        <li><a href="#"> <img src="../imagenes/Contanto.png" alt=""> </a></li>
                        <li><a href="Servicios.html"> <img src="../imagenes/Servicio.svg" alt=""> </a></li>
                    </ul>
                </nav>
            </header>
        <main>
           <form class="formulario">
                <label>Cédula (CC):</label>
                <input type="number" name="cc" required>

                <label>Nombres:</label>
                <input type="text" name="nombres" required>

                <label>Apellidos:</label>
                <input type="text" name="apellidos" required>

                <label>Email:</label>
                <input type="email" name="email" required>

                <label>Usuario:</label>
                <input type="text" name="usuario" required>

                <label>Contraseña:</label>
                <input type="password" name="password" required>

                <button type="submit">Enviar</button>
            </form>

        </main>
        <br>
            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d252667.47195868022!2d-73.92569860546878!3d8.309830000000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d85630d25ac67%3A0x4c15094bc9bab1d5!2sTOTTO!5e0!3m2!1ses-419!2sco!4v1774216937108!5m2!1ses-419!2sco" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <footer>
                <p>Pagina realizada por Nick Bryan Pacheco Durán, Luis Ruben Fernandez Larios y Diego Arevalo Solo para uso educativo ©2026 </p>
                <div style="text-align: center;">
                    <a href="https://www.facebook.com/TottoColombia "><img src="../imagenes/boton_facebook.png" alt=""></a>
                    <a href="https://www.instagram.com/tottobrand/"><img src="../imagenes/boton_instagram.png" alt=""></a>
                    <a href="https://co.pinterest.com/tottobrand/"><img src="../imagenes/boton_pinteres.png" alt=""></a>  
                </div>  
            </footer>
        </div> 
</body>
</html>