<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    
    <link rel="stylesheet" href="../style.css">
</head>
<body>
        <div class="container">
            <header>
                <nav class="menu">
                    <ul>
                        <li><a href="../index.html"> <img src="../imagenes/Inicio.png" alt=""> </a></li>
                        <li><a href="Contacto.html"> <img src="../imagenes/Contanto.png" alt=""> </a></li>
                        <li><a href="#"> <img src="../imagenes/Servicio.svg" alt=""> </a></li>
                    </ul>
                </nav>
            </header>
        <main>
            <Div>
                <img src="../imagenes/baner.jpg" alt="">
                <p>En Totto te acompañamos en cada momento con morrales, maletas de viaje y complementos diseñados para tu estilo. Compra online y recoge en tienda 48 horas después, en ciudades principales, para que no pierdas tiempo. Y si es tu día especial, recibe un Bono de Cumpleaños Totto del 25% para adquirir tu morral porta pc, artículos plegables, chaquetas para hombre o mujer y accesorios para mascotas. Consulta nuestras preguntas frecuentes y recuerda registrarte para obtenerlo.</p>
                <img src="../imagenes/Foto_1.webp" alt="">
                <p><h2>¿Con qué métodos de pago puedo comprar en Totto?</h2>
                En Totto puedes pagar con diferentes métodos de pago para que tu compra sea más fácil y flexible. Aceptamos tarjetas de crédito, Addi, Keypago y otros medios disponibles en la tienda online. Además, puedes diferir tu compra hasta en 6 cuotas, para que elijas la opción que mejor se ajuste a tu presupuesto y compres con mayor comodidad. ¡Compra ahora tu favorito sin problemas en Totto!</p>
            </Div>
        </main>
            <footer>
                <p>Pagina realizada por Nick Bryan Pacheco Durán, Luis Ruben Fernandez Larios y Diego Arevalo Solo para uso educativo ©2026 </p>
                <div style="text-align: center;">
                    <a href="https://www.facebook.com/TottoColombia "><img src="../imagenes/boton_facebook.png" alt=""></a>
                    <a href="https://www.instagram.com/tottobrand/"><img src="../imagenes/boton_instagram.png" alt=""></a>
                    <a href="https://co.pinterest.com/tottobrand/"><img src="../imagenes/boton_pinteres.png" alt=""></a>  
                </div>  
            </footer>
        </div> 
</body>
</html>